html {
    margin: 0;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#title {
    background: linear-gradient(to right, #aa0000, #ffcc00);
    text-align: center;
    border-bottom: 3px solid black;
}

#ttext {
    color: black;
    padding: 1rem 0;
    margin: 0;
}

#history, #facts, #legions {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#image {
    text-align: center;
    margin: 20px 20px auto;
    border-radius: 1rem;
    background-color: white;
}

#greatest {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

#wikilink {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 1.1rem;
    color: #0066cc;
    text-decoration: none;
}
#wikilink:hover {
    text-decoration: underline;
    cursor: pointer;
    color: orange;
}

#footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}